.phonebook {
  max-width: 500px;
  min-width: 320px;
  margin: 0 auto;
  padding: 30px;
}

h1 {
  text-align: center;
}
.container {
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 15px 20px;
  border-radius: 20px;
}
